!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title Sinatra Starter Kit
		%link{:href => "stylesheets/default.css", :media => "screen", :rel => "stylesheet"}
	%body
		#sheet
			#header
				%h1
					%a{:href => "/"}	Sinatra Starter Kit
			#content=	yield

